[Unit]
Description=A Discord bot that asks trivia questions related to the game World of Warcraft.
After=network.target
Requires=postgresql-11.service

[Service]
ExecStart=/opt/lorewalker-cho/lorewalker-cho.sh --log /var/log/lorewalker-cho/lorewalker-cho.log
Restart=always
RestartSec=3
User=cho
Group=cho

[Install]
WantedBy=multi-user.target
